.picture-container{

    width: 500px;
    height: 400px;
    background-color: rgb(174, 214, 228);
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    justify-content: center;
    margin-top: 30px;
}

.next-btn , .submit-btn{

background-color: rgb(37, 132, 161) !important;
 margin-left: 50px !important;
 color: white !important;

  margin-right: 50px !important;
  padding: 4px 60px !important;
   margin-bottom: 12px !important;
} 

P{
    color: rgb(0 77 119);
    font-weight: 600;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.uploadProfile{
    margin: 20px;
}

