.css-1e6y48t-MuiButtonBase-root-MuiButton-root{
    background-color: #2584a1 !important;
    color: white !important;
    margin-left: 40% !important;
    margin-top:20px !important;
  
}

.css-1xapmdy-MuiTypography-root{
    position: absolute !important;
    left: 40px !important;
    margin-top: 18px !important;
}

.css-kp3opr-MuiTypography-root{
    position: absolute !important;
    right: 40px !important;
    margin-top: 18px !important;
}

.css-bwhgkh-MuiTypography-root{
width: 18% !important;
margin-left: 50px !important;
}


.css-gavykb-MuiChip-root{
margin-top: 18px !important;
}