.image-banner{
       position: relative;
       background: url(./Assets/bannerCampusLogo.jpg);
    height: 60vh;
    width: 100%;
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}

.image-banner-text{
    display: flex;
    position: absolute;
    right: 200px;
    color: aliceblue;
    margin-right: -100px;
}
.home-page-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10%;
   
}

.stud-btn, .company-btn, .admin-btn,.stddetails-btn, .postAjob-btn{
 background-color: rgb(37, 132, 161) !important;
 margin-left: 50px !important;
}


